<h2>Monthly Usages</h2>
<p id="notice"><%= notice %></p>
	<table id ="container">
	<tr>
		<th>ID</th>
		<th>Month</th>
		<th>Elec</th>
		<th>Gas</th>
		<th>Biomass</th>
		<th>CHP Electricity</th>
		<th>CHP Gas</th>
		<th>Wind</th>
		<th>Solar</th>
	</tr>
	<% @usages.each do |usage| %>
		<tr>
			<td><%= usage.id %></td>
			<td><%= usage.month.strftime("%b %Y") %></td>
			<% usage.attributes.each do |k,v| %>
				<% if v.nil? %>
					<td>N/A</td>
				<% elsif k != "created_at" && k != "updated_at" && k != "month" && k != "id" %>
					<td><%= v %></td>
				<% end %>
			<% end %>
			<!-- <td><%= link_to 'Delete', usage, confirm: 'WARNING! Are you sure you want to delete this entry?!', method: :delete %></td> -->
			<td><%= link_to "Edit", edit_usage_path(usage) %> </td>
		</tr>
	<% end %>
</table>

<br />

<!-- <h2>Import Usages</h2>
<%= form_tag import_usages_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import" %>
<% end %> -->


<!-- <%= link_to "New", new_usage_path %><br /> -->