<p id="notice"><%= notice %></p>

<p>
  <b>Usage:</b>
  <%= @usage.amount %><br />
  <b>Price:</b>
  <%= @usage.price.amount %><br />
  <b>Spend:</b>
  <%= @usage.spend %>
</p>

<%= link_to 'Back', usages_path %>