<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @project.attributes.each do |k,_| %>
    <% if k != "id" && k != "created_at" && k != "updated_at" && k != "date_submitted" && k != "date_implemented" && k != "note" %>
      <div class="field">
      <%= f.label k %><br />
      <%= f.text_field k %>
      </div>
    <% elsif k == "date_implemented" || k =="date_submitted" %>
      <div class="field">
        <%= f.label k %><br />
        <%= f.date_select k %>
      </div>
    <% end %>
  <% end %>

<!-- Put the Notes Field at the bottom of the page! -->

  <div class="field">
    <%= f.label "Additional Notes" %><br />
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>