<p id="notice"><%= notice %></p>
<h2><%= @project.title %></h2>
<div id="container">
	<% @project.attributes.each do |k,v| %>
		<% if k != "created_at" && k != "updated_at" && k != "id" && k != "note" %>
			<p>
				<b><%= k %></b>
				<%= v %>
			</p>
		<% elsif k == "note" %>
			<p>
				<b>Addtional Notes</b>
				<% @project.note %>
			</p>
		<% end %>
	<% end %>

</div>

<%= link_to "Projects List", projects_path %><br />
<%= link_to "Edit Project Info", edit_project_path(@project) %><br />