<h1>Listing foos</h1>

<table>
  <tr>
    <th>Month</th>
    <th>Data1</th>
    <th>Data2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @foos.each do |foo| %>
  <tr>
    <td><%= foo.month %></td>
    <td><%= foo.data1 %></td>
    <td><%= foo.data2 %></td>
    <td><%= link_to 'Show', foo %></td>
    <td><%= link_to 'Edit', edit_foo_path(foo) %></td>
    <td><%= link_to 'Destroy', foo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Foo', new_foo_path %>
