<p id="notice"><%= notice %></p>

<p>
  <b>Month:</b>
  <%= @foo.month %>
</p>

<p>
  <b>Data1:</b>
  <%= @foo.data1 %>
</p>

<p>
  <b>Data2:</b>
  <%= @foo.data2 %>
</p>


<%= link_to 'Edit', edit_foo_path(@foo) %> |
<%= link_to 'Back', foos_path %>