<!DOCTYPE html>
<html>
<head>
  <title>Energy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Energy Project Management</h1>
<%= yield %>

<%= link_to "Home", home_path %><br />
<%= link_to "Usage", usages_path %><br />
<%= link_to "Prices", prices_index_path %><br />
<%= link_to "Spend", spend_index_path %><br />
<%= link_to "Projects", projects_path %><br />

</body>
</html>
